@import url('fonts.css');

.nav-container {
    position: fixed;
    width: 100vw;
    z-index: 9999;
    background-color: #fff;
}

.nav-container-contact {
    height: 31px;
    width: 100vw;
    background-color: #fff;
    margin: auto;
    line-height: 0.625em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: 'Arial', Helvetica, Arial, Lucida, sans-serif;
    font-size: 12px;
}

.nav-container-contact .items {
    display: flex;
    width: 80vw;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

@media screen and (max-width: 768px) {
    .nav-container-contact .items {
        width: 100vw;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: row;
    }
}


.nav-container-phone-desktop {
    position: relative;
    font-size: 100%;
    line-height: 13px;
    font-weight: bold;
    color: white;
    background-color: #280e29;
    border-radius: 0px 0px 0px 5px;
    padding: 10px;
    vertical-align: baseline;
}

.nav-container-phone-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .nav-container-phone-desktop {
        display: none;
    }

    .nav-container-phone-mobile {
        display: flex;
        position: relative;
        font-size: 100% !important;
        line-height: 13px;
        font-weight: bold;
        color: white;
        background-color: #280e29;
        border-radius: 0px 0px 0px 5px;
        padding: 10px;
        vertical-align: baseline;
    }
}

.nav-container-email-desktop {
    position: relative;
    font-size: 100%;
    line-height: 13px;
    font-weight: bold;
    color: white;
    background-color: #2bb673;
    border-radius: 0px 0px 5px 0px;
    padding: 10px;
    vertical-align: baseline;
    margin-left: 1px;
}

.nav-container-email-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .nav-container-email-desktop {
        display: none;
    }

    .nav-container-email-mobile {
        display: flex;
        position: relative;
        font-size: 100%;
        line-height: 13px;
        font-weight: bold;
        color: white;
        background-color: #2bb673;
        border-radius: 0px 0px 5px 0px;
        padding: 10px;
        vertical-align: baseline;
    }
}

header {
    background-color: #fff;
    color: #666;
    height: 114px;
    width: 100vw;
    z-index: 999;
    position: fixed;
    text-align: center;
}

.nav-toggle{
    display: none;
}

.nav-toggle-label{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
    margin-right: 12.5vw;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background: #2bb673;
    height: 2px;
    width: 2em;
    border-radius: 1.5px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: '';
    position: absolute;
}

.nav-toggle-label span::before{
    bottom: 7px;
}

.nav-toggle-label span::after{
    top: 7px;
}

.logo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    height : 114px;
}

nav {
    background-color: #fff;
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100vw;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul{
    margin: 0;
    padding : 0;
    list-style: none;
}

@media screen and (max-width: 768px) {  
    .logo{
        max-width: 70%;
        padding-left: 5vw;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
}
@media screen and (max-width: 979px) and (min-width: 768px) {
    nav a{
      font-size: 9px !important;
      position: inherit;
      padding-bottom: 5vh;
    }
  }

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a{
    color: #666666;
    text-decoration: none;
    font-size: 13px;
    font-weight: 550;
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    text-decoration: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.nav-toggle:checked ~ nav{
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 767px){
    .nav-toggle-label{
        display: none;
    }

    header{
        display: grid;
        grid-template-columns: 10% 25% 55% 10%;
        height: 114px;
    }

    .logo{
        grid-column: 2 / span 1;
        display: flex; 
        align-items: center;
    }

    nav{
        all: unset;
        grid-column:  3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    nav ul{
        display: flex;
        justify-content: flex-end;
    }


    nav li{
        padding-left: 1.3750em;
        padding-bottom: 3.125em;
        margin: 0;
    }

    nav a{
        opacity: 1;
        position: relative;
        text-transform: uppercase;
    }

    nav a::before{
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background-color: #2bb673;
        bottom: -10px;
        transition: width 0.5s ease;
        left: 0;
    }

    .nav a.active::before,
    .nav a.active::after {
        width: 100%; 
    }

    nav a::before {
        right: 100%;
    }
    
    nav a:hover::before {
        width: 100%;
        right: 0;
    }
}

/* Style the active tab */
nav ul li a.active,
nav ul li a:active {
    color: #2bb673; /* Text color for the active tab */
}

/* Add a permanent underline for the active tab */
nav ul li a.active::before,
nav ul li a:active::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px; /* Height of the underline */
    background-color: #2bb673; /* Color of the underline */
}

@media  screen and (max-width:768px) {
    nav ul li a.active::before,
    nav ul li a:active::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0; /* Height of the underline */
        background-color: none; /* Color of the underline */
    }
}

/* Style the container for dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-transparent{
    flex-basis: 100%;
    background-color: rgba(0, 0, 0, 0);
    width: 76.5em;
    height: 2.5em;
}
/* Style the dropdown content */
.dropdown-menu {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    background-color: #fff;
    width: 70vw;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    top: 4.25em;
    right: -107px;
    padding: 1em;
    border-top: #2bb673 solid 3px;
    max-width: 70vw;
}
@media screen and (max-width: 979px) and (min-width: 767px) {
    .dropdown-menu {
        right: -81px;
    }
}
@media screen and (max-width: 768px) {
    .dropdown-menu {
        right: -81px;
    }
}

/* Style the list items within the columns */
.dropdown-column a {
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 12px;
    position: relative; /* Add this to make the underline work */
}

/* Style the active link within the columns */
.dropdown-column a.active {
    color: #2bb673;
}

/* Add a permanent underline for the active link */
.dropdown-column a.active::before,
.dropdown-column a.active::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px; /* Height of the underline */
    background-color: #2bb673; /* Color of the underline */
}

/* Create a multi-column layout */
.dropdown-column {
    float: left;
    list-style: none;
    flex-basis: 25%;
    padding: 0.3125em;
    margin-top: -35px;
}

/* Underline the word when hovered */
.dropdown-column a::before{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #2bb673;
    bottom: 0px;
    transition: width 1s ease;
    left: 0;
}

.dropdown-column a.active::before,
.dropdown-column a.active::after,
ul .dropdown-column a:active::before {
    width: 100%; 
    bottom: 0px;
    height: 3px;
}

.dropdown-column a::before {
    right: 100%;
}

.dropdown-column a:hover::before {
    width: 100%;
    right: 0;
}

/* Underlines on hover */
.dropdown-column a:hover::before {
    width: 100%;
    left: 0;
}


/* Clear floats to ensure proper layout */
.dropdown::after {
    content: "";
    clear: both;
    display: table;
}

/* Show the dropdown on hover */
.dropdown:hover .dropdown-menu {
    display: flex;
    
    transition: width 1s ease;
}

.desktop-nav{
    display: flex;
}

.mobile-nav {
    display: none;
}

@media screen and (max-width: 769px) {
    .desktop-nav{
        display: none;
    }

    .mobile-nav{
        width : 80vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        padding-left: 10vw;
    }

    .mobile-nav ul{
        align-content: flex-start;
        align-items: flex-start;
        font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
        font-size: 13px;
        font-weight: 700;
    }

    .mobile-nav li{
        display: inline;
        margin : 1vw 1vw 1vw 6.25vw;
    }
}



/* *********************************************************************************************************************************** */
/* ************************************************    HOME               ************************************************************ */
/* *********************************************************************************************************************************** */
