@import url('../fonts.css');

.licence-container{
    background-color: #efefef;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vw;
    padding: 3% 10% 3% 10%;
}

.licence-items{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: flex-start;
}
.licence-items h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: #2bb673;
    margin-bottom: 3%;
}
.licence-items h2{
    font-size: 1.25rem;
    font-weight: 500;
    color: #2bb673;
    margin-bottom: 3%;
}
.licence-items li{
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    margin-bottom: 3%;
}