@import url('../fonts.css');

.nav-container {
    position: fixed;
    width: 100vw;
    z-index: 9999;
    background-color: #fff;
}

.nav-container-contact {
    height: 31px;
    width: 100vw;
    background-color: #fff;
    margin: auto;
    line-height: 0.625em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: 'Arial', Helvetica, Arial, Lucida, sans-serif;
    font-size: 12px;
}

.nav-container-contact .items {
    display: flex;
    width: 80vw;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

@media screen and (max-width: 768px) {
    .nav-container-contact .items {
        width: 100vw;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: row;
    }
}


.nav-container-phone-desktop {
    position: relative;
    font-size: 100%;
    line-height: 13px;
    font-weight: bold;
    color: white;
    background-color: #280e29;
    border-radius: 0px 0px 0px 5px;
    padding: 10px;
    vertical-align: baseline;
}

.nav-container-phone-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .nav-container-phone-desktop {
        display: none;
    }

    .nav-container-phone-mobile {
        display: flex;
        position: relative;
        font-size: 100% !important;
        line-height: 13px;
        font-weight: bold;
        color: white;
        background-color: #280e29;
        border-radius: 0px 0px 0px 5px;
        padding: 10px;
        vertical-align: baseline;
    }
}

.nav-container-email-desktop {
    position: relative;
    font-size: 100%;
    line-height: 13px;
    font-weight: bold;
    color: white;
    background-color: #2bb673;
    border-radius: 0px 0px 5px 0px;
    padding: 10px;
    vertical-align: baseline;
    margin-left: 1px;
}

.nav-container-email-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .nav-container-email-desktop {
        display: none;
    }

    .nav-container-email-mobile {
        display: flex;
        position: relative;
        font-size: 100%;
        line-height: 13px;
        font-weight: bold;
        color: white;
        background-color: #2bb673;
        border-radius: 0px 0px 5px 0px;
        padding: 10px;
        vertical-align: baseline;
    }
}

header {
    background-color: #fff;
    color: #666;
    height: 114px;
    width: 100vw;
    z-index: 999;
    position: fixed;
    text-align: center;
}

.nav-toggle{
    display: none;
}

.nav-toggle-label{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
    margin-right: 12.5vw;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background: #2bb673;
    height: 2px;
    width: 2em;
    border-radius: 1.5px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: '';
    position: absolute;
}

.nav-toggle-label span::before{
    bottom: 7px;
}

.nav-toggle-label span::after{
    top: 7px;
}

.logo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    height : 114px;
}

nav {
    background-color: #fff;
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100vw;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul{
    margin: 0;
    padding : 0;
    list-style: none;
}

@media screen and (max-width: 768px) {  
    .logo{
        max-width: 70%;
        padding-left: 5vw;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
}
@media screen and (max-width: 979px) and (min-width: 768px) {
    nav a{
      font-size: 9px !important;
      position: inherit;
      padding-bottom: 5vh;
    }
  }

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a{
    color: #666666;
    text-decoration: none;
    font-size: 13px;
    font-weight: 550;
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    text-decoration: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.nav-toggle:checked ~ nav{
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 767px){
    .nav-toggle-label{
        display: none;
    }

    header{
        display: grid;
        grid-template-columns: 10% 25% 55% 10%;
        height: 114px;
    }

    .logo{
        grid-column: 2 / span 1;
        display: flex; 
        align-items: center;
    }

    nav{
        all: unset;
        grid-column:  3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    nav ul{
        display: flex;
        justify-content: flex-end;
    }


    nav li{
        padding-left: 1.3750em;
        padding-bottom: 3.125em;
        margin: 0;
    }

    nav a{
        opacity: 1;
        position: relative;
        text-transform: uppercase;
    }

    nav a::before{
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background-color: #2bb673;
        bottom: -10px;
        transition: width 0.5s ease;
        left: 0;
    }

    .nav a.active::before,
    .nav a.active::after {
        width: 100%; 
    }

    nav a::before {
        right: 100%;
    }
    
    nav a:hover::before {
        width: 100%;
        right: 0;
    }
}

/* Style the active tab */
nav ul li a.active,
nav ul li a:active {
    color: #2bb673; /* Text color for the active tab */
}

/* Add a permanent underline for the active tab */
nav ul li a.active::before,
nav ul li a:active::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px; /* Height of the underline */
    background-color: #2bb673; /* Color of the underline */
}

@media  screen and (max-width:768px) {
    nav ul li a.active::before,
    nav ul li a:active::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0; /* Height of the underline */
        background-color: none; /* Color of the underline */
    }
}

/* Style the container for dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-transparent{
    flex-basis: 100%;
    background-color: rgba(0, 0, 0, 0);
    width: 76.5em;
    height: 2.5em;
}
/* Style the dropdown content */
.dropdown-menu {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1vw;
    position: absolute;
    background-color: #fff;
    width: 80vw;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    top: 4.25em;
    right: -107px;
    padding: 1em;
    border-top: #2bb673 solid 3px;
    max-width: 80vw;
}
/* Clear floats to ensure proper layout */
.dropdown::after {
    content: "";
    clear: both;
    display: table;
}

/* Show the dropdown on hover */
.dropdown:hover .dropdown-menu {
    display: grid;
    transition: width 1s ease;
}

.desktop-nav{
    display: flex;
}
.dropdown-item{
    color: #fff;
    height: 10vw;
    border-radius: 10vw;
    font-size: 0.8rem;
    font-weight: 600;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: end;
}
.dropdown-item-iconbox{
    display: absolute;
    width: 8vw;
    height: 8vw;
    border-radius: 8vw;
    border: solid 8px #fff;
    margin-right: 1.5vw;
    display: flex;
    justify-content: flex-end;
    padding: 3px;
}
.dropdown-item-iconbox img{
    width: 4.5vw;
    height: 4.5vw;
    align-self: center;
    margin-right: 0.85vw;
}
.dropdown-item-text-icon{
    height: 2em;
    width: 2em;
    margin-left: 1em;
}
.dropdown-item-text{
    margin-left: 1em;
}
.dropdown-item:hover{
    background-color: #a49685 !important;
    color: #000 !important;
    font-size: 0.75rem !important;
    font-weight: 700 !important;
    display: flex !important;
    justify-content: flex-end !important;
    align-items: flex-start !important;
    padding-top: 1vw !important;
}
.dropdown-item:hover .dropdown-item-text{
    display: flex !important;
    justify-content: end !important;
}
.dropdown-item:hover .dropdown-item-iconbox{
    width: 8vw !important;
    height: 8vw !important;
    border-radius: 8vw !important;
    background-color: #fff !important;
    margin-right: 1.5vw !important;
    display: flex !important;
    justify-content: flex-end !important;
    filter: invert(100%);
    padding: 3px;
}