.credential-container{
    background-color: #2bb673;
}
.credential-container-info{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3% 10% 3% 10%;
}
.credential-container-image img{
    border-radius: 20px 0 0 20px;
    height:100%;
    object-fit: cover;
}
.credential-text{
    padding: 2% 5% 2% 10%;
    background-color: #fff;
    border-radius: 0 20px 20px 0;
}

.credential-text h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: #2bb673;
    margin-bottom: 2%;
}
.credential-text h2{
    font-size: 1rem;
    font-weight: 500;
    color: #2bb673;
    margin-bottom: 2%;
}
.credential-text p{
    font-size: 0.85rem;
    font-weight: 400;
    color: #666;
    margin-bottom: 1%;
}