@import url('../fonts.css');

.partner{
    position: absolute;
    display: flex;
    width: 100vw;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
    z-index: 100;
}

.partner-container {
    position: relative;
    display: grid;
    width: 80vw;
    grid-template-columns: repeat(5, 1fr);
    gap: 2vw;
}
.partner-item {
    display: flex;
    align-items: center;
    padding: 20px;
    text-align: center;
}
.partner-main-text {
    font-family: 'Josefin Sans', Helvetica, Arial, Lucida, sans-serif;
    font-weight: bold !important;
    color: #000;
    line-height: 1.9em;
    font-size: 1.3em;
}
.partner-sub-text {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    font-size: 0.9em;
    color: #666;
    font-weight: 600;
}