@import url('../fonts.css');

.section24 {
    position: relative;
    width: 100%;
    height: 60vh;
    background-image: url('../../img/products/section24-01.jpg');
    background-size: cover;
    background-position: center center;
}

.section24::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.section24-container {
    position: absolute;
    left: 10%;
    top: 20%;
    max-width: 40%;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.section24-container h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 2%;
}