@import url('../fonts.css');

.section3{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vw;
    padding-left: 10vw;
    padding-right: 10vw;
}

.section3 h1{
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
    font-weight: bold !important;
    color: #2bb673;
    font-size: 1.5em;
    padding: 1vw;
}

.section3 p{
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    font-size: 1em;
    color: #666;
    font-weight: 600;
    padding: 1vw;
}