.section6-container{
    background-color: #eeeeee;
}
.section6-container-info{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3% 10% 3% 10%;
}
.section6-container-image img{
    border-radius: 0 8px 8px 0;
    height:100%;
    object-fit: cover;
}
.section6-text{
    padding: 2% 5% 2% 10%;
    background-color: #fff;
    border-radius: 8px 0 0 8px;
}
.section6-text h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: #2bb673;
    margin-bottom: 2%;
}
.section6-text p{
    font-size: 0.85rem;
    font-weight: 400;
    color: #666;
    margin-bottom: 1%;
}
.section6-text ul{
    font-size: 0.85rem;
    font-weight: 400;
    color: #666;
    margin-bottom: 1%;
}